@keyframes colorCycle {
    0%{background-position:25% 0%}
    50%{background-position:76% 100%}
    100%{background-position:25% 0%}
}

@keyframes tilt { 
  from, to { 
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);}
  25% { 
    -webkit-transform: rotate(5deg); 
    transform: rotate(5deg); } 
  75% { 
    -webkit-transform: rotate(-5deg); 
    transform: rotate(-5deg); } 
}

@keyframes hover { 
  from, to { 
    margin-top: -15px;
  }
  50% { 
    margin-top: -5px; 
  } 
}


@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.name {
  height: 100vh;
  width: 100vw;
  margin-top: 20vh;
  position: fixed;
  font-family:;
  font-size: 25vw;
  font-weight: bold;
  z-index: -1;
  text-align: center;
  background: linear-gradient(152deg, rgba(0,0,0,0), rgba(115, 173, 255, 0.3), rgba(0,0,0,0));
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorCycle 10s infinite;
}

.outer {
  display: table;
  height: 100vh;
  width: 33vw;
  margin-left:33.5vw;
  margin-right:33.5vw;
  z-index: 0;
}

.contentBox {
  display: table-row;
  vertical-align: middle;
}

.middle {
  display: table-cell;
  text-align: center;
  font-size: 20pt;
  vertical-align: middle;
}

.blueBox, .bb2, .bb3 {
  position: relative;
  height: 5vw;
  width: 5vw;
  border: 2px dashed blue;
  opacity: 0.9;
  margin: auto;
  margin-top: -15px;
  z-index: 5;
  transition: 0.5s ease;
  animation: hover 2s ease-in-out infinite;
}

.bb2 {
  animation: hover 1.6s ease-in-out infinite;
}

.bb3 {
  animation: hover 1.8s ease-in-out infinite;
}

.blueBox:hover, .bb2:hover, .bb3:hover {
  margin-top: 0px;
  animation: tilt 0.2s ease-in-out;
}

@media screen and (max-width: 500px) {
  /* CSS for screens that are 450 pixels or less will be put in this section */
  
.outer {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
  
.blueBox, .bb2, .bb3 {
  height: 15vw;
  width: 15vw;
}
  
.middle {
  font-size: 15pt;
}

}