@import url('https://fonts.googleapis.com/css?family=Megrim|Raleway|Roboto');

body {
  margin: 0px;
  background-color: #020000;
  font-family: raleway;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 65px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #020000;
  position: fixed;
  top: 0;
  z-index: 5;
}

.drip {
  position: fixed;
  z-index: 4;
  width: 70%;
  margin-left: 15%;
  margin-top: 40px;
  transition: ease 0.6s;
}

.drip:hover {
  margin-top: 60px;
}

.uphead1, .uphead2, .uphead3 {
  position: absolute;
  width: 15%;
  padding: 15px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 25pt;
  letter-spacing: 7px;
  color: white;
  background-color: #020000;
  transition: ease 0.7s;
}

.uphead1:hover, .uphead2:hover, .uphead3:hover {
  letter-spacing: 27px;
  color: red;
}

.uphead1 {
  margin-left: 13.75%;
}

.uphead2 {
  margin-left: 42.5%;
}

.uphead3 {
  margin-left: 70.75%;
}






.hsplash {
  width: 100%;
  background-image: url('https://i.imgur.com/BcA40eY.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.5;
  padding-top: 20%;
  padding-bottom: 17%;
  font-family: megrim, serif;
  z-index: -1;
}

.hslogo {
  width: 200px;
  height: 200px;
  margin: auto;
  border: 15px solid black;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url('https://i.imgur.com/Bj1JyXF.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  padding: 25px;
  z-index: 3;
}






hr {
  width: 300px;
  border: 1px solid #white;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 0px;
}

.mbody {
  padding-left: 20%;
  padding-right: 20%;
  background-color: #020000;
  padding-top: 100px;
}

.bhead {
  font-size: 30pt;
  color: white;
  letter-spacing: 5px;
  font-family: megrim;
  font-weight: bold;
}

.bbody {
  width: 70%;
  line-height: 30px;
  font-size: 17pt;
  color: white;
  margin-bottom: 4%;
}

.boximg {
  position: absolute;
  width: 22%;
  height: 65%;
  background-image: url('https://pics.clipartpng.com/Open_Cardboard_Box_PNG_Clip_Art_Image-1283.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 45%;
  margin-top: -15%;
  color: white;
}






p {
  margin-top: 2px;
  margin-bottom: 3px;
}

.plan1, .plan2, .plan3 {
  margin-top: 10%;
  margin-bottom: 5%;
  padding-bottom: 50px;
  width: 20%;
  border: 5px solid white;
  text-align: center;
  position: absolute;
  color: #020000;
  transition: ease 0.4s;
}

.plan1:hover, .plan2:hover, .plan3:hover {
  transform: scale(1.05);
  margin-bottom: 4%;
}

.plan1 {
  margin-left: 15%;
}

.plan2 {
  margin-left: 40%;
}

.plan3 {
  margin-left: 65%;
}

.planhead {
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: megrim;
  font-size: 17pt;
  color: white;
}

.planbod {
  height: 100px;
  margin: 5% 15% 0% 15%;
  color: white;
}

.buybut {
  width: 60%;
  padding: 5%;
  border: 3px solid white;
  color: #ffffff;
  margin: auto;
  margin-top: 35px;
  text-align: center;
  font-weight: bold;
  transition: 0.5s ease;
}

.buybut:hover {
  background-color: white;
  color: #020000;
}

.buypic1, .buypic2, .buypic3 {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  height: 150px;
}

.buypic1 {
  background-image: url('https://i.imgur.com/sBHwLM9.png');
}

.buypic2 {
  background-image: url('https://i.imgur.com/fug8V7N.png');
}

.buypic3 {
  background-image: url('https://i.imgur.com/J2ZfmFE.png');
}

.hr {
  margin: 0px;
  width: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin: auto;
  color: #ffffff;
  background-color: #ffffff;
  border: .5px solid #ffffff;
}





.mystbox {
  height: 700px;
}

.mysterybox {
  background-color: white;
  padding: 5% 20% 5% 20%;
}





.infobox {
  padding: 5% 20% 5% 20%;
}

.contactbox {
  width: 70%;
  margin: auto;
}